.error-message {
  color: #f44336; /* Material Design red */
  margin-top: 8px;
  font-weight: 500;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* light semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}
