<div class="carousel-wrapper">
    <button mat-icon-button (click)="scrollLeftBtn()" class="nav-button left">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="carousel"
        [ngClass]="{'.carousel-snapping': !isDown}"
        #carousel
        (mousedown)="onMouseDown($event)"
        (mouseleave)="onMouseLeave()"
        (mouseup)="onMouseUp()"
        (mousemove)="onMouseMove($event)">
        <ng-container *ngIf="!isLoading(); else loadingTemplate">
            <listing-card *ngFor="let listing of listings()"
                          [listing]="listing"
                          (deleteClicked)="deleteListing($event)">
            </listing-card>
        </ng-container>
        <ng-template #loadingTemplate>
            <listing-card-skeleton *ngFor="let i of [].constructor(skeletonCount)">
            </listing-card-skeleton>
        </ng-template>

    </div>

    <button mat-icon-button (click)="scrollRightBtn()" class="nav-button right">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>
